@{
    ViewData["Title"] = "Pagina de Exemplo";
}
<form>
  <div class="mb-3">
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" class="form-control" id="nome">
  </div>
  <div class="mb-3">
    <label for="nomeDeHeroi" class="form-label">Nome de heroi:</label>
    <input type="text" class="form-control" id="nomeDeHeroi">
  </div>  
  <div class="mb-3">
    <label for="localDeOrigem" class="form-label">Local de origem:</label>
    <input type="text" class="form-control" id="localDeOrigem">
  </div>
  <div class="mb-3">
  <label for="empresa" class="form-label">Empresa:</label>
  <input type="text" class="form-control" id="empresa">
  </div>
  <button type="submit" class="btn btn-primary">Confirmar</button>
  <button type="submit" class="btn btn-danger">Voltar</button>
</form>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>

      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>twitter</td>
    </tr>
  </tbody>
</table>